@import "../../themes/mixins/animations";

.component {
  height: 100%;
  transition: background-color 500ms;
  width: 100%;
  &.is-loading-theme {
    background-color: transparent;
  }
  &.is-connecting {
    background-color: var(--theme-connecting-background-color);
  }
}

.connecting,
.syncing {
  bottom: 100px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.syncing {
  color: var(--theme-syncing-text-color);
}

.lux-log {
  & > svg {
    display: block;
    left: calc(50% - (86px/2));
    position: absolute;
    top: calc(50% - 224px);
    width: 86px;
  }
}

.luxcoreLogo {
  & > svg {
    display: block;
    left: calc(50% - (173px/2));
    position: absolute;
    top: calc(20%);
    width: 173px;
  }
}

.connectingLogo {
  & > svg path {
    fill: var(--theme-icon-connecting-logo-color);
  }
}

.syncingLogo svg path {
  fill: var(--theme-icon-syncing-logo-color);
}

.headline {
  font-family: var(--font-light);
  font-size: 16px;
}

.connecting {
  color: var(--theme-connecting-text-color);
  .headline {
    overflow: visible;
    @include animated-ellipsis($width: 16px);
  }
}

.component, .headline, .logo {
  -webkit-backface-visibility: hidden;
}
