@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-medium);
  width: 580px;

  :global {
    .Dialog_title {
      margin-bottom: 20px;
    }
  }

  .privateKey {
    margin-top: 20px;
  }

  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.submitButtonSpinning {
  @include loading-spinner("../../assets/images/spinner-light.svg");
}
