.component {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
  color: var(--theme-bordered-box-text-color);
  &::-webkit-scrollbar-button {
    height: 7px;
    display: block;
  }
}

.graph {
  width:60%;
  height:50%;
  padding: 20px;
}

.setting {
  width:38%;
  position: absolute;
  top: 40px;
  right: 40px;
  margin-left: 45%;
}

.categoryTitle {
  font-size: 26px;
  letter-spacing: 0.5px;
  color: var(--theme-bordered-box-text-color);
  margin-bottom: 30px;
}
.copyIconBig,
.copyIcon {
  cursor: pointer;
  object-fit: contain;
}

.copyIconBig {
  margin-left: 6px;
  & > svg {
    height: 14.5px;
    width: 11.5px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.copyIcon {
  margin-left: 4px;
  & > svg {
    height: 12px;
    width: 10px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}


