.component {
  display: flex;
  padding: 10px;
  :global .SimpleFormField_root {
    .SimpleFormField_inputWrapper { 
      .SimpleInput_input {
        padding:7px;
      }
    }
    &:after {
      bottom:12px;
      left: calc(100% - 20px);
    }
  }
  :global .SimpleSelect_select {
    .SimpleFormField_root {
      .SimpleFormField_inputWrapper {
        .SimpleInput_input{
          padding-left: 38px;
        //  background-color: transparent;
        //  border: 0px;
        }
      }
    }
  }     
}

//Exchange Setting

.selectWidth {
  width: 40%;
}

.span {
  width:80px;
  margin-left: 20px; 
  padding-top: 7px;
}


.imageStyle {
  width: 20px;
  height: 20px;
  margin-top: 7px;
  margin-right: 10px;
}

.control {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
}


.numericInput {
  width:35%;
}


.half {
  display: inline-block;
  width: 50%;
}

.spanRight {
  position: absolute;
  right: 40px;
}

.spanMargin30 {
  margin: 0px 30px;
}

.customOptionStyle {
  height: 30px;
}

.center {
  width:40%;
  left: 30%;
}

.swapbutton {
  :global .SimpleButton_root  {
    width: 50%;
    margin-left: 25%;
  }
}

.totalInput {
  width:35%;
}

.checkboxTab{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.div {
  margin-bottom: 20px;
}

.coinStyle {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: inline-block;  
  margin-right: 10px;
  position: relative;
  top:-2px;
  vertical-align: middle;
}

// table style

.tableCaption {
  width: 100%;
  height: 36px;
  padding: 10px;
  color: var(--theme-bordered-box-text-color);
  background-color: var(--theme-bordered-box-background-color);
}

.orderTable {
  display: inline-block;
  width: calc(30% - 3px);
  padding: 5px;
  border: solid 1px var(--theme-bordered-box-background-color);
}

.historyTable {
  display: inline-block;
  width: calc(40% - 20px);
  margin-left: 20px;
  padding: 5px;
  border: solid 1px var(--theme-bordered-box-background-color);
}

:global .ReactTable{
  .rt-table {
    .rt-tbody {
      font-size: 13px;
      text-align: center;
    }
  }
  .pagination-bottom {
      display:none;
  }
}

.margetTable {
  width:100%;
  height:40%;
  padding-right: 20px;
  padding-bottom: 20px;
}

// chart
.graph {
  width:60%;
  height:40%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.setting {
  width:38%;
  position: absolute;
  top: 40px;
  right: 40px;
  margin-left: 45%;
}
