@import '../../themes/mixins/loading-spinner';
@import '../../themes/mixins/error-message';

.dialog {
  font-family: var(--font-light);
  .walletPassword {
    .walletPasswordSwitch {
      & .passwordLabel {
        color: var(--theme-wallet-password-switch-label-color);
        font-family: var(--font-semibold);
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 10px;
      }
    }
    & + .inputFields {
      .newPassword {
        margin-top: 20px;
      }
    }
  }


  :global .SimpleSwitch_root > .SimpleSwitch_checked {
    background: var(--theme-input-remove-color-light) !important;
    .SimpleSwitch_thumb {
      box-shadow: inset -1.5px -1.5px 0 var(--theme-input-remove-color-light) !important;
      box-shadow:
        inset -1.5px -1.5px 0 var(--theme-input-remove-color-light),
        inset 1.5px 1.5px 0 var(--theme-input-remove-color-light),
        inset 1.5px -1.5px 0 var(--theme-input-remove-color-light),
        inset -1.5px 1.5px 0 var(--theme-input-remove-color-light) !important;
    }
  }

  .inputFields {
    max-height: 360px;
    overflow: hidden;
    transition: all 400ms ease;
    &.hidden {
      max-height: 0;
      opacity: 0;
    }

    .inputString {
      margin-bottom: 20px;
    }

    .instructions {
      color: var(--theme-instructions-text-color);
      font-family: var(--font-light);
      line-height: 1.38;
      margin-top: 10px;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }

  .info{
    border-radius: 4px;
    border: solid 1px grey;
    padding-top: 30px;
    overflow: auto;
    text-align: center;
  }

  .info::-webkit-scrollbar {
      width: 10px;
      height: 5px;
  }

  .removeButton {
    background: var(--theme-input-remove-color-light) !important;
    &:hover {
      background: var(--theme-input-remove-color-lighter) !important;
    }
    &:active {
      background: var(--theme-input-remove-color-dark) !important;
    }
  }
  
  .error {
    @include error-message;
    text-align: center;
    margin-top: 27px;
  }
}

.address {
  margin: 30px;
}


.copyIconBig,
.copyIcon {
  margin-left: 5px;
  cursor: pointer;
  object-fit: contain;
}

.copyIconBigger {
  margin-left: 6px;
  cursor: pointer;
  & > svg {
    height: 27px;
    width: 22px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.copyIconBig {
  margin-left: 6px;
  & > svg {
    height: 14.5px;
    width: 11.5px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}

.copyIcon {
  margin-left: 4px;
  & > svg {
    height: 12px;
    width: 10px;
    path {
      fill: var(--theme-icon-copy-address-color);
    }
  }
}