.component {
  height: 100%;
  display: flex;
}

.navigation {
  width: 280px;
  height: 100%;
  background: #263345;
  flex-shrink: 0;
}

.page {
  width: 100%;
  overflow: auto;
  margin-top: 2%;
  padding-left:2%;
  padding-right:2%;
}
