.component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navItem {
  height: 100%;
  width: 100%; // Update when adding new nav items!
  background-color: var(--theme-nav-item-background-color);
}
.balance {
  color: navajowhite;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%; // Update when adding new nav items!
  background-color: var(--theme-nav-item-background-color);
  border-radius: 8px;
}
