// ========= LAYOUT =========

.component {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 25px 20px;
  margin: 30px 20px 30px 5%;
  align-items: center;
  width: 90%;
  height: 200px;
  border-radius: 10px;
//  background: linear-gradient(120deg, #35465f, #4a7498);
  background: linear-gradient(120deg, #101d2f, #4a7498);
}

.label {
  font-size: 14px;
  font-family: var(--font-regular);
  display: block;
  overflow: visible;
}

.background {
  margin-right: 12px;
  margin-top:-7px;
  margin-left:22px;
  & > svg {
    max-height: 300px;
    max-width: 210px;
  }

  @media (max-width: 950px) {
    display: none;
  }
}

.logo{
  position: absolute;
  top: 45px;
  left: 40px;
  color: white;
  font-size: 22px;
  font-family: var(--font-semibold);
}

.lux-name{
  color: white;
  font-size: 22px;
  font-family: var(--font-semibold);
}

.balance_name{
  color: white;
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.5px;
}
.balance_amount{
    font-family: var(--font-ultralight);
    font-size: 40px;
    line-height: 1.0;
    color: var(--theme-bordered-box-text-color);
    margin-bottom: 11px;
    word-break: break-all;
}

.icon {
  margin-right: 12px;
  & > svg {
    max-height: 70px;
    max-width: 100px;
  }

  @media (max-width: 950px) {
    display: none;
  }
}


// ========= STATES =========

.activeIcon {
  path {
    fill: var(--theme-icon-nav-color-active);
  }
}

.normalIcon {
  path {
    fill: var(--theme-icon-nav-color);
  }
}

.normal {
  .container {
    color: var(--theme-nav-item-text-color);
  }

  &:hover {
    .container {
      background-color: var(--theme-nav-item-background-color-hover);
    }
    cursor: pointer;
  }
}

.active {
  .container {
    background-color: var(--theme-nav-item-background-color-active);
    color: var(--theme-nav-item-text-color-active);
  }

  &:hover {
    cursor: default;
  }
}
