@import '../../../themes/mixins/error-message';

.component {
  height: 90%;
  align-items: center;
  justify-content: center;
  color: var(--theme-main-body-messages-color);

  :global .SimpleFormField_root > .SimpleFormField_inputWrapper > .SimpleTextArea_textarea{
    max-height: 70px;
  }
}

.categoryTitle {
  font-size: 26px;
  letter-spacing: 0.5px;
  color: var(--theme-bordered-box-text-color);
  margin-bottom: 30px;
}

.subTitle {
  font-family: var(--font-semibold);
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.borderedBox {
  font-size: 14px;
  background: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.abi,
.contractAddress,
.areaLabel {
  font-size: 16px;
  margin-bottom: 3px;
}
.abi {
  margin-top: 20px;
}

.areaFunction {
  height: 120px;
  background-color: #efefef;
  padding: 10px 10px;

  :global .SimpleFormField_root > .SimpleFormField_inputWrapper > .SimpleInput_input{
    padding: 8px 20;
  }
}

.comboField {
  width: 30%;
}

.inputField {
  left: 35%;
  width: 66%;
  position: relative;
}

.optionalContainer {
  input {
    width: 200px;
	  height: 30px;
	  font-size: 14px;
    outline: 0;
    border: var(--theme-bordered-box-border) !important;
    padding-left: 10px !important;
    padding-right: 2px ;
	}

	input[type=number]:hover::-webkit-inner-spin-button {  
	  height: 30px;
	}
}

.optionalLabel {
  width: 120px;
  display: inline-block;
}

.selectFuncs {
  height: 10px;
}

.addressContainer {
  margin-top: 10px;
  input {
	  height: 30px;
	  font-size: 14px;
	  outline: 0;
    padding-left: 10px;
    border: var(--theme-bordered-box-border) !important;
	}
}

.addressInput {
  width: calc(100% - 120px);
}

.buttonContainer {
  margin-top: 30px;
  padding: 0 30px;
  text-align: center;
  :global .SimpleButton_root {
    width: 32%;
    height: 34px;
    padding: 2px;
    margin: 0 10px;
  }
}

.button {
  margin: 0 10px;
  width: 35%;
}

//////////////////////////////////////////////////////////////

.solTypeColor {
  color: navy;
  margin-right: 5px;
}

.solVariable {
  width: 150px;
  display: inline-block;
}

.solVariableLabel {
//  font-family: var(--font-semibold);
}

.tokenElement {
  margin: 5px 0px;
}

.tokenInputBox {
  width: calc(100% - 170px);
}

.error {
  @include error-message;
  text-align: center;
  margin-top: 27px;
}