.component {
  height: 90%;
  align-items: center;
  justify-content: center;
  color: var(--theme-main-body-messages-color);
}

.subTitle {
  font-family: var(--font-semibold);
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.borderedBox {
  background: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  :global .SimpleButton_root {
    width: 10%;
    height: 30px;
    padding: 2px;
  }
}

.container {
  margin:20px 20px;
}

.setting {
  padding: 10px 0px;
}

.selector {
  padding: 4px;
  text-align: center;
  width: 250px;
  margin: 0px 10px;
}


.btn {
  margin-left: 10px;
  background-color: #061532;
  color: #f1f1f1;
  font-size: 16px;
  padding: 6px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: #40c2dc;
  color: white;
}

.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #40c2dc;
  border-right: 3px solid #40c2dc;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.solEditor {
  height:500px; 
  width: 100%; 
  display:block;
}

.status {
  float:right;
  margin-top:20px;
  font-size: 12px;
}

.output {
  width:100%; 
  height:300px;
}

.interface,
.abi {
  width:49%; 
  height:360px;
  display: inline-block;
}

.abi {
  float: right;
}

.categoryTitle {
  font-size: 26px;
  letter-spacing: 0.5px;
  color: var(--theme-bordered-box-text-color);
  margin-bottom: 30px;
}

.solcViewRegion {
  width: 100%;
  height: 100%;
}

.areaConstructor {
  height: 100px;
  background-color: #efefef;
}

.optionalContainer {
  font-size: 12px;
  input {
    width: 200px;
	  height: 30px;
	  font-size: 14px;
	  outline: 0;
    padding-left: 10px;
    padding-right: 2px;
	}

	input[type=number]:hover::-webkit-inner-spin-button {  
	  height: 30px;
	}
}

.optionalLabel {
  width: 100px;
  display: inline-block;
}

.addressInput {
  width: calc(100% - 100px);
}

.buttonContainer {
  margin-top: 30px;
  padding: 0 30px;
  text-align: center;
  :global .SimpleButton_root {
    width: 32%;
    height: 34px;
    padding: 2px;
    margin: 0 10px;
  }
}

.button {
  margin: 0 10px;
  width: 35%;
}
